.container {
  max-width: 1120px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #17181F;
  border-radius: 6px;

  form {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 90%;
      height: 50px;
      background: #20212C;
      border: 1px solid #424242;
      border-radius: 6px;
      padding: 3px 10px;
      color: #FFFFFF;
    }

    button {
      margin-left: 10px;
      width: 8%;
      height: 50px;
      border: 0;
      border-radius: 6px;
    }
  }

  h1 {
    color: #FFFFFF;
    margin: 1.8rem;
  }
}

.taskList {
  background-color: #20212C;
  margin: 1rem 0;
  padding: 0.7rem;
  border-radius: 6px;

  p {
    cursor: pointer;
    color: #F2F6FC;
    font-size: 1rem;
    line-height: 150%;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    margin-top: 1rem;

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      time {
        color: #FFB800;
        margin-left: 5px;
        margin-right: 1rem;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      background: transparent;
      border: 0;

      & + button {
        margin-left: 10px;
      }

      span {
        display: flex;
        align-items: center;

        margin-left: 5px;
        color: #FFFFFF;
        cursor: pointer;
      }

      span:hover {
        filter: brightness(0.7);
      }
    }

  }
}

.vipContainer {
  max-width: 1120px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #17181F;
  border-radius: 6px;

  h3 {
    color: #FFB800;
    font-size: 2rem;
  }

  div {
    display: flex;
    align-items: center;

    margin-top: 1rem;

    time {
      color: #FFFFFF;
      font-size: 1.4rem;
      padding: 10px;
    }
  }
}
